@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}

::selection {
    color: black;
    background: #00a9d4;
  }

html{
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    width: 100%;
	height: 100%;
    background-color: #f5f5f5;
    
}
header{
    align-items: center;
    border-bottom: solid;
    border-color: #00a9d4;
}

nav{
    flex: 1;
    text-align: center;
    padding: 36px;
}

nav ul{
    display: inline-block;
    list-style-type: none;
    margin: 0;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: black;
    padding: 10px 14px;
    font-size: 18px;
    transition: 0.5s;
}

nav ul li a:hover{
    color: #00a9d4;
    transition: 0.5s;
    border-bottom: solid;
    padding: 12px 16px;
}

#logo{
    position: absolute;
    padding-top: 5px;
    padding-left: 5px;
}
.container{
    display: flex;
    width: auto;
    height: auto;
}

#div1{
   
    display: inline;
    width: 50%;
    height: 100%;

}
#div1 img{
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
}
#div1 h3, p{
    justify-content: center;
    align-items: center;
}
#lateral{
    margin: 90px 0 5px 0;
    display: inline;
    width: 50%;
    height: 100%;
    float: right;
    justify-content: center;
}
#lateral input{
    width: 50%;
    justify-content: center;
}

/*FOOTER*/
.footer-basic {
    padding: 40px 0;
    background-color: #00a9d4;
    color: black;
    display: block;
}
  
.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}
  
.footer-basic li {
    padding: 0 10px;
}
  
.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}
  
.footer-basic ul a:hover {
    opacity: 1;
}
  
.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}
  
.footer-basic .social > a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid black;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}
  
.footer-basic .social > a:hover {
    opacity: 1;
}
  
.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: black;
    margin-bottom: 0;
}

.footer-basic .copyright{
    font-size: 16px;
}